@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    /* font-weight: 400; */
    /* font-style: normal; */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 40px;
    margin-top: 10px;
}
.nav-links{
    margin-right: 40px;
}
.nav-links a{
    padding: 10px 15px;
    background-color: 	rgb(165, 42, 42,0.750);
    color: rgb(75,38,20);
    font-weight: 550;
    text-decoration: none;
    border-radius: 10px;
    margin: 5px;
}
.main-content{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.shop-name{
    margin-top: 10px;
}
.shop-name h1{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.shop-name p{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
.shop-name span{
    color: rgb(129, 44, 1);
}
.slide-img img{
    width: 450px;
    height: 450px;
    margin-top: 10px;
}
.coffee-heading{
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    margin: 20px;
}
.coffee-card-1,.coffee-card-2{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    border-radius: 20px;
}
.coffee{
    padding: 20px;
    margin: 30px;
    background:url(./images/MuchaTseBle.jpeg);
    background-size: cover;
    width: 200px;
    border-radius: 20px;
}
.coffee h3{
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    color: white;
    padding: 3px;
}
.coffee p{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: white;
}
.coffee img{
    width: 150px;
    height: 150px;
    position: relative;
    top: -18%;
    display: flex;
    margin: 0 auto;
}
.body-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.body-content-img{
    padding: 30px;
}
.body-content-heading {
    padding: 50px;
}
.body-content-heading p{
    font-size: 15px;
    font-weight: 600;
}
.cold-heading{
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    margin: 20px;
}
#cold-coffee{
    display: flex;
    flex-direction: row;
    place-content: center;
    margin-top:50px;
}
.cold-coffee{
    padding: 18px;
    margin: 35px;
    background:url(./images/bg-5.jpeg);
    background-size:auto;
    width: 180px;
    height: auto;
    border-radius: 20px;
}
.cold-coffee img{
    width: 150px;
    height: 210px;
    position: relative;
    top: -25%;
    display: flex;
    margin: 0 auto;
}
.cold-coffee h3{
    color:white;
text-align: center;
}
.cold-coffee p{
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.beans-heading{
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    margin: 50px;
}
 #beans-section{
    display: flex;
    flex-direction: row;
    place-content: center;
    margin-top: 50px;

 }
 .beans-bag{
    padding: 15px;
    margin: 30px;
    background:url(./images/1.jpeg);
    background-size: cover;
    width: 220px;
    border-radius: 20px;
 }
 .beans-bag img{
    width: 200px;
    position: relative;
    top: -25%;
    display: flex;
    place-items: center;
 }
 .beans-bag h3{
    color:white;
    text-align: center;
 }
 .beans-bag p{
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 600;
 }