*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 40px;
    margin-top: 10px;
}
.nav-links{
    margin-right: 40px;
}
.nav-links a{
    padding: 10px 15px;
    background-color: 	rgb(165, 42, 42,0.750);
    color: rgb(75,38,20);
    font-weight: 550;
    text-decoration: none;
    border-radius: 10px;
    margin: 5px;
}